* {
	-moz-box-sizing: border-box;
			 box-sizing: border-box;
}

body {
	font-family: 'Oswald', 'sans-serif';
	margin: 0;
	padding: 0;
	max-width: 1300px;
	min-width: 300px;
}

.container {
	margin: 0 auto;
	width: 980px;
}

.overlay {
	background: linear-gradient(rgba(17, 117, 192, 0.75), rgba(6, 241, 37, 0.75));
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	min-width: 600px;
}

.hdroverlay {
	background: linear-gradient(rgba(17, 117, 192, 0.75), rgba(13, 195, 165, 0.75)), url("./pictures/5488.jpg");
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width:auto;
}
.content	{
	margin:0 auto;
	padding:0;
	width: 978px;
	margin-left: 65px;
}
.main-content 	{
	float:left;
	margin: 63px 0 0 0;
	padding: 0 80px 69px 0;
	width: 618px;
	font-weight: 200;
}
.header {
	/*background-image: url();*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 523px;
	width: 100%;
	position: relative;
}

.header-text	{
	font-family:'Oswald', 'sans-serif';
	color:white;
	font-size: 45px;
	text-align: center;
	position: relative;
	width: 990px;
	z-index: 1;
	display: inline-block;
	margin-top:195px;
}

.header-text h1 {
	margin: 0;
	padding:0;
	letter-spacing: 6px;
	text-transform: uppercase;
}

.header-text2	{
	font-family: 'Asap', 'sans-serif';
	color:#001842;
	font-size: 15px;
	text-align: center;
	z-index: 1;
	margin: 0px 0 0 0;
}

.header-text h3 {
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	margin: -15px 0 0 0;
}

.subtext2 span {
	font-family:'Oswald', 'sans-serif';
	color:#001842;
	font-size: 18px;
	display:inline-block;
	margin: 18px 0 0 0;
	padding: 0;
	position: absolute;
	right: 290px;
}
.subtext2 img {
	display:inline-block;
	margin: 22px 0 0 0;
	padding: 0;
	position: absolute;
	right: 265px;
}
.subtext1 span {
	font-family:'Asap', 'sans-serif';
	color:#001842;
	font-size: 17px;
	letter-spacing: 1px;
	display:inline-block;
	margin: 24px 0 0 0;
	padding: 0;
	position: absolute;
	left: 300px;
}
.subtext1 img {
	display:inline-block;
	margin: 11px 0 0 0;
	padding: 0;
	position: absolute;
	left: 240px;
}
.footertext1 span {
	font-family:'Asap', 'sans-serif';
	color:#C0C0BE;
	font-size: 14px;
	display:inline-block;
	margin: 2px 0 0 0;
	padding: 0;
	position: absolute;
	left: 224px;
}
.footertext1 img {
	margin-top: -8px;
	padding-top: 0px;
	margin-bottom: -4px;
	left: 100px;
	display: inline-block;
	padding-left: 170px;
}
.foottext2 {
	font-family:'Asap', 'sans-serif';
	color:#C0C0BE;
	font-size: 14px;
	display:inline-block;
	margin: -37px 0 0 0;
	padding: 0;
	position: absolute;
	right: 160px;
	word-spacing: 4px
}
.footer {
	overflow: hidden;
	width: 100%;
	height: 59px;
	padding: 40px 0px 0px;
	background-color: #083452;
	margin-left: auto;
	margin-right: auto;
}

.footer2 {
	margin-top: 100px ;
	text-align: right ;
	font-size: 12px ;
	font-family: verdana ;
	color:white;
}

p {
	clear:left;
	font-family: 'Asap', 'sans-serif';
	font-size: 100%;
	font-weight: 400;
	line-height: 165%;
	margin-top: 0px;
	margin-bottom: 9px;
	padding-top: 2px
}
h2 {
	font-family:'Oswald', 'sans-serif';
	color:#001842;
	font-size: 400%;
	margin: 0;
	padding: 0;
	line-height: 112%;
	font-weight: 200;
}
blockquote.style {
	border-left: 2px solid #AEB7BB;
	color: #1A69B0;
	font-family:'Asap', 'sans-serif';
	font-size: 170%;
	padding-left: 16px;
	letter-spacing: 1px;
	margin-left: 10px;
	margin-top: 37px;
	margin-bottom: 37px;
}
h4	{
	clear:both;
	color: #001842;
	border-top: 1px solid #AEB7BB;
	font-family: 'Oswald', 'sans-serif';
	font-size: 400%;
	font-weight: 400;
	margin: 0;
	padding: 20px;
	text-align: center;
	margin-bottom: 1px;
}
.sidecontent {
	float: left;
	margin: 50px 0px 0px;
	padding: 0px;
	width: 278px;
}
.info img {
	display: block;
	margin: 15px auto;
	padding: 5px;
	padding-right: 23px;
	padding-top:15px;
}
.infotext	{
	font-family:'Asap', 'sans-serif';
	color:#1A69B0;
	font-size:17px;
	margin: 0px;
	padding-left: 85px;
	padding-right: 20px;
	margin-top: -12px;
}
.socialtext{
	font-family: 'Asap', 'sans-serif';
	color:#DEDEDC;
	font-size:13.5px;
	padding-left: 29px;
	margin-bottom: 20px;
	margin-top: -8px;
	}
.abouttext a	{
	font-family:'Asap', 'sans-serif';
	color: #DEDEDC;
	font-size:13px;
	padding-top: 0px;
	padding-left: 194px;
}
.profile	{
	margin-bottom: -8px;
	margin-top: 26px;
}
.thesection {
	font-family:'Oswald', 'sans-serif';
	color: #1A69B0;
	font-size: 18px;
	margin-bottom: -3px;
	margin-top: 27px;
}
.sectiondetail	a {
	font-family:'Asap', 'sans-serif';
	color:#DEDEDC;
	font-size:14px;
	max-width: 50%;
	overflow: auto;
}
.sectiondetail span {
	font-family:'Asap', 'sans-serif';
	color:#DEDEDC;
	font-size:14px;
}
#paragraph2	{
	margin-top: 23px;
	margin-bottom: 38px;
}
#paragraph1 {
	margin-top: 24px;
}
#paragraphone {
	margin-top: 30px;
}
#paragraph1 a {
	color: #505050;
}
#paragraph4 {
	margin-top: -13px
}
.boxes {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.square {
	float: left;
	height: 330px;
	position: relative;
	width: 25%;
	background-position: center center;
	background-size: cover;
}
.square strong {
	bottom: 20px;
	color: #192f54;
	display: block;
	font-family:'Oswald', 'sans-serif';
	font-size: 200%;
	font-weight: 400;
	letter-spacing: 2px;
	left: 20px;
	position:absolute;
	z-index: 1;
	margin-bottom: -12px;
}

.author img {
	margin-top: -8px;
	padding-top: 12px;
	margin-bottom: -6px;
}
.author span {
	font-family:'Asap', 'sans-serif';
	font-size: 13px;
	color: #1A69B0;
	padding-left:5px;
}
.author a {
	font-family: 'Asap', 'sans-serif';
	font-size: 13.5px;
	color: #DEDEDC
}
.author b {
	font-family: 'Asap', 'sans-serif';
	font-size: 13.5px;
	color: #DEDEDC;
	padding-left: 14px;
}
.commentbar {
	margin-bottom: -24px;
	margin-top:-26px;
	margin-left: -3px;
}

#sidepic {
	height: 80px;
	width: 80px;
	border-radius: 70%;
	/*border: 1px dashed red;*/
	max-height: 100%;
	max-width: 100%;
	padding: 0;
}

#mainpic {
	width: 22px;
	height: 22px;
	border-radius: 70%;
	padding: 0;
}

.commentbar{
		/*html line 45*/
		display: inline-block;
}

.comment_bar {
	display: inline-block;
	list-style: none;
}

#button1 {
	height: 10px;
	width: 50px;
	background-color: blue;
	display: inline-block;
}

#button2 {
	height: 10px;
	width: 50px;
	background-color: yellow;
	display: inline-block;
}

#button3 {
	height: 10px;
	width: 50px;
	background-color: green;
	display: inline-block;
}

#rtsubadtxt {
	max-width: 500px;
	max-height: 250px;
}

#adpic {
	/*padding-left: 55px;*/
	background-image: url("./pictures/photo_lrg.png")
	background-size: cover;
	background: center center;
	height, width: auto;
	height: 300px;
	width: 280px;
	border: 0px;
	alt: "a-psycho"
}

/*footer sections*/

#pictures {
	height: 330px;
}

#pictures ul {
	padding: 0;
}

#pictures ul li {
	height: 330px;
	display: inline-block;
	width: 25%;
	vertical-align: top;
	position: relative;
}

#pictures .one, .two, .three, .four {
	height: 330px;
	display: inline-block;
}

.one {
	height: 330px;
	background-image: url(./pictures/mon.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.two {
	height: 330px;
	background-image: url(./pictures/pom.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.three {
	height: 330px;
	background-image: url(./pictures/mp5.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.four {
	height: 330px;
	background-image: url(./pictures/aston.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.one p {
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 29px;
	font-weight: 400;
	margin: 0;
	padding-left: 16px;
	padding-bottom: 7px;
}

.one:hover .pic-titles {
	color: #FFF;
	text-shadow: 1px 1px 10px #555;
}

.one::after {
	content: "";
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(38, 115, 172, 0.5);
	transition: 350ms;
}

.one:hover::after {
	content: "";
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: transparent;
}

.two::after {
	content: "";
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(38, 115, 172, 0.5);
	transition: 500ms;
}

.two:hover::after {
	content: "";
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: transparent;
}

.two p {
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 29px;
	font-weight: 400;
	margin: 0;
	padding-left: 16px;
	padding-bottom: 7px;
}

.two:hover .pic-titles {
	color: #FFF;
	text-shadow: 1px 1px 10px #555;
}

.three::after {
	content: "";
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(38, 115, 172, 0.5);
	transition: 500ms;
}

.three:hover::after {
	content: "";
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: transparent;
}

.three p {
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 29px;
	font-weight: 400;
	margin: 0;
	padding-left: 16px;
	padding-bottom: 7px;
}

.three:hover .pic-titles {
	color: #FFF;
	text-shadow: 1px 1px 10px #555;
}

.four::after {
	content: "";
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(38, 115, 172, 0.5);
	transition: 500ms;
}

.four:hover::after {
	content: "";
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: transparent;
}

.four p {
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 29px;
	font-weight: 400;
	margin: 0;
	padding-left: 16px;
	padding-bottom: 7px;
}

.four:hover .pic-titles {
	color: #FFF;
	text-shadow: 1px 1px 10px #555;
}

footer {
	width: 100%;
	height: 97px;
	background-color: #0B3550;
}

.footer-container {
	width: 996px;
	margin: 0 auto;
	position: relative;
}

.footer-left {
	display: inline-block;
}

.footer-left a {
	display: inline-block;
	vertical-align: top;
}

.footer-left p {
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	color: #A3B3BE;
}

.footer-right {
	display: inline-block;
	position: absolute;
	right: 0;
}

.footer-right ul {
	list-style-type: none;
	display: inline-block;
	right: 0;

	margin-right: 13px;
	padding-top: 10px;
}

.footer-right li {
	display: inline-block;
	font-weight: 300;
	font-size: 14px;
}

.footer-right li a {
	text-decoration: none;
	color: #A3B3BE;
	display: center;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.span-bar {
	color: #A3B3BE;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

/*sidebar test*/

.social-bars {
	color: #A3B3BE;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 1px;
}


.sidebar {
	display:inline-block;
	width:277px;
	margin-left: 25px;
	margin-top:75px;
}

.sidebar ul {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
}

.author-info a {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	color: #A3B3BE;
}

.sidebar ul li a {
	display: inline-block;
	text-decoration: none;
	color: #A3B3BE;
}

.author-info {
	display:block;
	text-align:center;
}

.larger-pic {
	border-radius: 42px;
	height: 84px;
	width: 84px;
	position: relative;
	display: block;
	background-image: url(./pictures/g.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}
